<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <system.net>
    <mailSettings>
      <smtp from="help@alphacomputers.biz">
        <network host="smtp.gmail.com" enableSsl="true" port="587" userName="alphatimetable@gmail.com" password="Alpha321." />
        <!--<network host="103.109.6.192" enableSsl="false" port="25" userName="noreply@digitaldiary.in" password="Alpha321." />-->
      </smtp>
    </mailSettings>
  </system.net>

  <connectionStrings>
    <add name="mySQLConnection" connectionString="server=alphaerp.in;port=3306;uid=digitald2;pwd=Alpha654!;database=yogesh_digitaldiary;charset=utf8;Pooling=False;providerName=System.Data.SqlClient;" />
  </connectionStrings>

  <appSettings>
    <add key="cmpid" value="1" />
    <add key="cmpkey" value="key" />
  </appSettings>

</configuration>